#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 3em #61dafbaa);
}

.title {
  font-size: 88px;
  transition: all 300ms ease-in;
}

@keyframes change-size {
  0% {
    color: cyan;
    transform: scale(100%, 100%);
  }
  50% {color: blue;
    transform: scale(75%, 75%);
  }
  100% {
    color: cyan;
    transform: scale(100%, 100%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
  .title {
    animation: change-size infinite 3s linear ;
  }
}